$gap: 0.5rem;
$width-poster: 300px;
$height-poster: 420px;

.gridSearch{
    gap: $gap !important;
}
.moviePoster{
    margin-top: 22px;
    padding:20px;
    width: $width-poster;
}
.moviePosterSampleText{
    height: $height-poster;
    display: flex;
    justify-content: center;
    align-items: center;
}
.starsReview{
    margin-top:20px;
}
.starReview{
    padding-right: 5px;
}

.text-center{
    text-align: center;
}
.m-0{
    margin:0;
}
.m-auto{
    margin:0 auto;
}
.w-100{
    width:100%;
}
.f-w-normal{
    font-weight: normal;
}
.mtb-20{
    margin-top:20px;
    margin-bottom:20px;
}